<!-- Barre de navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-gray-500 border-bottom border-danger border-5">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="./assets/logo.png" width="150" height="90" class="d-inline-block align-top" alt="Esprit School Of Business Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content" id="navbarNav">
            <p class="font-weight-bold fs-1">
                <span class="text-black">Espr</span>
                <span class="text-secondary">it</span>
                <span class="text-danger"> School</span>
                <span class="text-black"> of Business</span>
            </p>
        </div>
        <!-- Bouton Login -->
        <a class="btn btn-danger" routerLink="/login" role="button">Login</a>
        
    </div>
</nav>

<!-- Ajout de l'élément décoratif -->
<div class="decorative-box"></div>

