<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Interface</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
  <!-- bloc espace: etudiant, enseignant et administrateur -->
  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" routerLink="/loginenseignant">
    <label class="btn btn-outline-danger custom-bold" for="btnradio1">Espace Enseignant</label>
   
    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" routerLink="/loginetudiant">
    <label class="btn btn-outline-danger custom-bold" for="btnradio2">Espace Étudiant</label>
      
    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" routerLink="/loginadmin">
    <label class="btn btn-outline-danger custom-bold" for="btnradio3">Espace Administrateur</label>
  </div>
  
  <div class="card">
    <h1 class="text-center mb-5" routerLink="/login">Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter your username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter your password">
      </div>
      <button type="submit" class="btn btn-danger">Login</button>
    </form>
  </div>
</body>
</html>
