

  <div class="card">
    <div class="card-header bg-danger text-white">
        
      Liste d'absence
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Matière</th>
            <th>Date</th>
            <th>Horaire</th>
            <th>Nb. Absences</th>
          </tr>
        </thead>
        <tbody>
          <!-- Premier étudiant -->
          <tr>
            <td>Matière2</td>
            <td>2024-03-01</td>
            <td>8h30 - 10h00</td>
            <td>2</td>
          </tr>
          
          <!-- Deuxième étudiant -->
          <tr>
            <td>Matière1</td>
            <td>2024-03-03</td>
            <td>10h30 - 12h00</td>
            <td>1</td>
          </tr>
          
          <!-- Ajoutez plus d'étudiants ici si nécessaire -->
        </tbody>
      </table>
    </div>
  </div>

